$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-vert: #369658;
$color-gris: #99e2d029;
$color-grisc: #cacaca;
$color-rose: #dabfd2;
$color-grisf: #171d1b9d;

$appPadding: 1rem;
$appPadding: 1.5rem;