//importation des fichiers SASS
//utiles
@import "../Utiles/variable";
@import "../Utiles/animation";

//page type
@import "../Pages/pagetype";

//Base
@import "../Base/Styles";

//Layouts
@import "../Layouts/header";
@import "../Layouts/local";
@import "../Layouts/box";
@import "../Layouts/main";
@import "../Layouts/resto";
@import "../Layouts/footer";
@import "../Layouts/Spinner";

// Components
@import "../Components/bouton";

/* Responsive */
.container{
@media (min-width: 250px) and (max-width: 350px) {
  .container {
    &--fonctionnement {
      .tuto {
        width: 80%;
      }
    }
  }
}

@media (min-width: 450px) and (max-width: 1601px) {
  .container {
    &__title {
      padding: 28px 0px 7px 0px;
      text-align: center;
    }
    .tuto {
      margin: 20px auto 20px auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    &--restaurants {
      .transform {
        display: flex;
        flex-wrap: wrap;
      }
      .card {
        width: 45%;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  .container {
    &--restaurants {
      .transform {
        display: flex;
        margin-right: 20px;
        margin-left: 20px;
      }
      .card {
        box-sizing: border-box;
        width: calc(33.3% - 10px);
        margin: 15px;
      }
    }
  }
}

@media (min-width: 1601px) {
  .container {
    &__title {
      padding: 28px 0px 7px 0px;
      text-align: center;
    }
    .tuto {
      margin: 20px auto 20px auto;
    }
  }

  .container {
    &--restaurants {
      margin-left: auto;
      margin-right: auto;
      max-width: 1440px;
      border-radius: 30px 30px 0px 0px;
      .transform {
        display: flex;
        margin-right: 20px;
        margin-left: 20px;
      }
      .card {
        box-sizing: border-box;
        width: calc(33.3% - 10px);
        margin: 15px;
      }
    }
  }
}

}
.tuto {
  padding: ($appPadding + 1rem) $appPadding;

  &__title {
    margin-top: 0;
  }

  &__steps {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: compteListe;


    @media (min-width:64rem) {
      display: flex;
    }
  }

  &__step {
    padding: 1.5rem;
    margin: 1rem 0 1rem 0.75rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
    border-radius: 1.25rem;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    &:hover {
      background-color: $color-rose;
    }

    @media (min-width:64rem) {
      flex: 1;
      margin: 0;
      margin-left: 2rem;

      &:first-child {
        margin-left: 0.75rem;
      }
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      counter-increment: compteListe 1;
      content: counter(compteListe) " ";
      background: $color-primary;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      left: -0.75rem;
    }
  }

  &__icon {
    margin-right: 1rem;
    color: #7e7e7e;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 2rem;
  row-gap: 2rem;

  @media (min-width:64rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.restaurants {
  background-color: $color-gris;;
  padding-bottom: 45px;
}

.card {
  border-radius: 15px;
  width: 88%;
  height: 205px;
  box-shadow: 0 5px 16px #0000002e;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 20px;


  &__image img {
    width: 100%;
    height: 134px;
    border-radius: 14px 14px 0px 0px;
    object-fit: cover;
  }

  &__badge {
    position: absolute;
    top: 13px;
    right: 8px;
    background: $color-tertiary;
    padding: 4px 13px;
    font-size: 14px;
    color: $color-vert;
    font-weight: 800;  
  }

  &__content {
    display: grid;
    padding: 5px 181px 0px 0px;
    color: black;
    padding: 10px 0px 0px 13px;
  }

  &__title {
    margin: 0;
    margin-bottom: 0.25rem;
  }

  &__subtitle {
    margin: 0;
  }

  &__heart {
    position: absolute;
    right: 28px;
    bottom: 30px;
    font-size: 25px;

    &:hover .fa-heart-animated {
      font-size: 25px;
    }
  }
}


