.button {
  background-image: linear-gradient(135deg, $color-secondary, $color-primary);
  border-radius: 20px;
  height: 40px;
  border: none;
  width: 230px;
  box-shadow: 5px 6px 7px $ombre;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  &__text {
    color: $couleur-encre-sec;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
    animation: flash 1.5s;
    box-shadow: 5px 15px 21px #00000080;
  }
}