.resto {
  
  &__title {
    padding: 28px 0px 8px 26px;
    font-weight: 800;
    font-size: 22px;
  }
  
  &--restaurants {
    background-color: $color-gris;
    padding-bottom: 40px;

    .cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 2rem;
      row-gap: 2rem;
      flex-wrap: wrap;

    }

    .card {
      border-radius: 15px;
      width: 88%;
      height: 205px;
      box-shadow: 0 5px 16px #0000002e;
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 12px;
      margin-bottom: 20px;

      &__image img {
        width: 100%;
        height: 134px;
        border-radius: 14px 14px 0px 0px;
        object-fit: cover;
      }

      &__content {
        display: grid;
        padding: 5px 181px 0px 0px;
        color: black;
        padding: 10px 0px 0px 13px;
      }

      &__badge {
        position: absolute;
        top: 13px;
        right: 8px;
        background: $color-tertiary;
        padding: 4px 13px;
        font-size: 14px;
        color: $color-vert;
        font-weight: 800;
      }

      &__title {
        font-weight: 800;
        margin: 0;
        margin-bottom: 0.25rem;
      }

      &__subtitle {
        padding: 8px 22px 0px 0px;
        margin: 0;
      }

      &__new {
        position: absolute;
        top: 13px;
        right: 8px;
        background: $color-tertiary;
        padding: 4px 13px;
        font-size: 14px;
        color: $color-vert;
        font-weight: 800;
      }

      &__heart {
        position: absolute;
        right: 28px;
        bottom: 30px;
        font-size: 25px;

        &:hover .fa-heart-animated {
          font-size: 25px;
        }
      }
    }
  }

  /* Responsive */

  @media (min-width: 768px) and (max-width: 1024px) {
    .resto {
      &--restaurants {
        .transform {
          display: flex;
          flex-wrap: wrap;
        }

        .cards {
          width: 45%;
        }
      }
    }
  }

  @media (min-width: 1025px) and (max-width: 1600px) {
    .resto {
      &--restaurants {
        .transform {
          display: flex;
          margin-right: 20px;
          margin-left: 20px;
        }

        .cards {
          box-sizing: border-box;
          width: calc(33.3% - 10px);
          margin: 15px;
        }
      }
    }
  }

  @media (min-width: 1601px) {
    .resto {
      &--restaurants {
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        border-radius: 30px 30px 0px 0px;

        .transform {
          display: flex;
          margin-right: 20px;
          margin-left: 20px;
        }

        .cards {
          box-sizing: border-box;
          width: calc(33.3% - 10px);
          margin: 15px;
        }
      }
    }
  }
}