/* Error: expected "}".
 *   ,
 * 1 | .menu__btn {
 *   |             ^
 *   '
 *   scss\Layouts\menu-like.scss 1:13  @import
 *   scss\Pages\c-acceuil.scss 4:9     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a   \2577 \a 1 \2502  .menu__btn {\a   \2502              ^\a   \2575 \a   scss\\Layouts\\menu-like.scss 1:13  @import\a   scss\\Pages\\c-acceuil.scss 4:9     root stylesheet';
}
