@charset "UTF-8";
/*Animation du défilement du menu*/
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.anim-1 {
  animation-delay: 0.1s;
}
.anim-2 {
  animation-delay: 0.2s;
}
.anim-3 {
  animation-delay: 0.3s;
}
.anim-4 {
  animation-delay: 0.4s;
}
.anim-5 {
  animation-delay: 0.5s;
}
.anim-6 {
  animation-delay: 0.6s;
}
.anim-7 {
  animation-delay: 0.7s;
}
.anim-8 {
  animation-delay: 0.8s;
}
.anim-9 {
  animation-delay: 0.9s;
}
.anim-10 {
  animation-delay: 1s;
}

/* Animation du like*/
.fa-heart-animated {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  font-size: 0px;
  color: #9356DC;
  font-weight: bold;
  transition-duration: 0.5s;
}

/* Animation du loader */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Animation du bloc */
@keyframes off {
  from {
    opacity: 80%;
  }
  to {
    display: none;
    opacity: 0%;
    z-index: -1;
  }
}
/* Animation du bouton */
@keyframes flash {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/*POLICES*/
@font-face {
  font-family: "Roboto";
  src: url("Polices/Roboto/Roboto-Regular-webfont");
}
@font-face {
  font-family: "shrikhand";
  src: url("Polices/shrikhand/Shrikhand-Regular");
}
h1,
h2,
h3 {
  font-family: "shrikhand";
}

p,
a {
  font-family: "Roboto";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5px;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Header Page d'acceuil */
.header {
  padding: 15px 0 8px 0px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1803921569);
  text-align: center;
}
.header__image {
  justify-content: center;
  width: 160px;
  padding-top: 18px;
}

/* Header Page menue */
.header1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  padding: 10px 0 10px 0;
  /* retour acceuil */
}
.header1__back {
  font-size: 19px;
  position: absolute;
  left: 20px;
  top: 25px;
  max-width: 1440px;
}
.header1__title {
  width: auto;
  padding: 10px 0;
  margin: 0 auto;
  font-size: 1.8rem;
  font-family: "Shrikhand", "cursive";
}

.main {
  /* main Page menue */
}
.main--1 {
  margin-top: -25px;
  padding-bottom: 40px;
  background-color: whitesmoke;
  border-radius: 30px 30px 0px 0px;
}
.main--1__image {
  width: 100%;
}
.main--1__content {
  display: flex;
  font-size: 21px;
  justify-content: CENTER;
  padding: 20px 0px 20px 0px;
}
.main--1__content__title {
  font-size: 30px;
  font-family: "shrikhand";
  padding: 0px 44px 0px 0px;
}
.main--1__content__heart {
  position: relative;
  height: 21px;
}

/* icone coeur pour toute page */
#heart--icon {
  position: relative;
  height: 21px;
  cursor: pointer;
}
#heart--icon:hover .fa-heart-animated {
  font-size: 20px;
}

/* VERSION RESPONSIVE */
@media (min-width: 1025px) {
  .main {
    /* main Page menue */
  }
  .main--1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
}
.box__menu__title {
  margin: 24px 0px 8px 18px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 6px;
  width: 11%;
}
.box__element {
  border-radius: 10px;
  background-color: white;
  width: 92%;
  display: block;
  margin-left: auto;
  /*centré*/
  margin-right: auto;
  margin-top: 12px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1803921569);
  position: relative;
  animation-duration: 1s;
  animation-name: appear;
  transform: scale(0);
  animation-fill-mode: both;
}
.box__contents {
  display: flex;
}
.box__contents:hover .box__check {
  width: 40px;
  border-radius: 0px 10px 10px 0px;
}
.box__contents__title {
  font-weight: 800;
}
.box__contents__left {
  width: 100%;
  padding: 0.8em;
  position: relative;
  box-sizing: border-box;
}
.box__contents__inline {
  display: flex;
  padding-top: 5px;
}
.box__contents__inline__subtitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 82%;
}
.box__contents__inline__price {
  position: absolute;
  right: 5%;
}
.box__check {
  height: 100%;
  right: 0px;
  top: 0;
  width: 0px;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 1s ease-out;
}

/*page de détail*/
@media (min-width: 450px) and (max-width: 767px) {
  .box__menu__title {
    margin-left: auto;
    margin-right: auto;
  }
  .box__element {
    width: 350px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box {
    display: flex;
  }
  .box__menu {
    width: calc(33.3% - 2px);
  }
}
@media (min-width: 1025px) {
  .box {
    display: flex;
  }
  .box__menu {
    width: calc(33.3% - 2px);
  }
}
.subheader {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
}
.subheader__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 30vh;
}
.subheader__image--mod {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.subheader__iconemap {
  margin: 10px 10px 10px 0px;
}
.subheader__content {
  margin: 10px 10px 5px 0px;
}
.subheader__content a {
  color: black;
}

/* RESPONSIVE*/
@media (min-width: 1025px) {
  .subheader__image {
    height: 35vh;
  }
}
.footer {
  background-color: rgba(23, 29, 27, 0.6156862745);
  padding: 18px 0px 18px 24px;
  margin-top: -5px;
}
.footer a {
  color: white;
}
.footer__title {
  font-weight: 800;
  font-style: italic;
  margin: 0;
  margin-bottom: 0.25rem;
}
.footer__content {
  margin-top: 15px;
}
.footer__content__subtitle {
  margin-bottom: 8px;
}
.footer__content .fas {
  margin-right: 10px;
  color: white;
}
.footer__content .icon {
  font-size: 10px;
}

/* RESPONSIVE */
@media (min-width: 450px) and (max-width: 1600px) {
  .footer {
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1601px) {
  .footer {
    padding: 18px 0px 18px 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.button {
  background-image: linear-gradient(135deg, #FF79DA, #9356DC);
  border-radius: 20px;
  height: 40px;
  border: none;
  width: 230px;
  box-shadow: 5px 6px 7px rgba(0, 0, 0, 0.1803921569);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.button__text {
  color: white;
  text-align: center;
}
.button:hover {
  cursor: pointer;
  opacity: 1;
  animation: flash 1.5s;
  box-shadow: 5px 15px 21px rgba(0, 0, 0, 0.5019607843);
}

/*# sourceMappingURL=pagemenu.css.map */
